In [1]:
dataset_id = "college2_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'airy-lodge-252816:college2_staging' successfully created.

## Loading CSV files from Cloud Storage

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Current_Student \
'gs://college_dataset_bucket/raw/Current_Students.csv'

Waiting on bqjob_r7f386a5d2cbb253a_0000016e5d1de2a6_1 ... (2s) Current status: DONE

In [5]:
%%bigquery
select count(*) from college2_staging.Current_Student

   f0_
0   11

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.New_Student \
'gs://college_dataset_bucket/raw/New_Students.csv'

Waiting on bqjob_r2f39d09a43978508_0000016e5d20403c_1 ... (2s) Current status: DONE

In [7]:
%%bigquery
select count(*) from college2_staging.New_Student

   f0_
0    7

In [8]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Class \
'gs://college_dataset_bucket/raw/Classes.csv'

Waiting on bqjob_r6045b2e8dfd4ef02_0000016e5d210293_1 ... (2s) Current status: DONE

In [9]:
%%bigquery
select count(*) from college2_staging.Class

   f0_
0   12

## Creating Modeled Tables

In [10]:
modeled_dataset = "college2_modeled"

In [11]:
!bq --location=US mk --dataset {modeled_dataset}

Dataset 'airy-lodge-252816:college2_modeled' successfully created.

In [12]:
%%bigquery
create table college2_modeled.Student as
select distinct sid, fname, lname, dob
from college2_staging.Current_Student
union distinct
select distinct sid, fname, lname, cast(dob as string) as dob
from college2_staging.New_Student

Empty DataFrame
Columns: []
Index: []

In [ ]:
creat of replace table college2_modeled...

In [14]:
%%bigquery
create table college2_modeled.Teacher as select distinct tid, cno
from college2_staging.Class
where tid is not null 
and cno is not null

Empty DataFrame
Columns: []
Index: []