In [1]:
dataset_id = "reporting"
!bq --location=US mk --dataset {dataset_id}

Dataset 'airy-lodge-252816:reporting' successfully created.

-- Query 1 --
-- The expected results of this query would be the player ids of all players that participated in every game played in the NFL. Furthermore this query will yield the home and away team, the scores of the home and away team, the stadium name, and the year the game was played.

In [5]:
%%bigquery
create view reporting.v_players_who_played_all_games as
select a.player_id, b.stadium, b.team_home, b.team_away, b.score_home, b.score_away, b.schedule_season
from `airy-lodge-252816.nfl_stats_modeled.Quarterback_Game_Logs_Beam_DF` a join `airy-lodge-252816.nfl_weather_modeled.spreadspoke_scores` b on a.game_date = b.schedule_date
where a.year = b.schedule_season

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery
select count(*) from reporting.v_players_who_played_all_games

      f0_
0  387395

-- Query 2 --
-- This query's expected results would be to get the average passing completion percentage of each player when the wind was greater than 20 MPH.

In [10]:
%%bigquery
create view reporting.v_passing_completion_in_wind as
select a.player_id, round(avg(a.completion_percentage), 2) as avg_completion_percentage
from `airy-lodge-252816.nfl_stats_modeled.Quarterback_Game_Logs_Beam_DF` a join `airy-lodge-252816.nfl_weather_modeled.spreadspoke_scores` b on a.game_date = b.schedule_date 
where a.year = b.schedule_season
and  b.weather_wind_mph > 20.0
group by a.player_id

Executing query with job ID: c069c630-d76c-40b5-9939-160a23eec983
Query executing: 0.30s

ERROR:
 409 GET https://bigquery.googleapis.com/bigquery/v2/projects/airy-lodge-252816/queries/c069c630-d76c-40b5-9939-160a23eec983?timeoutMs=400&location=US&maxResults=0: Already Exists: Table airy-lodge-252816:reporting.v_passing_completion_in_wind

(job ID: c069c630-d76c-40b5-9939-160a23eec983)

                                                                          -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:create view reporting.v_passing_completion_in_wind as
   2:select a.player_id, round(avg(a.completion_percentage), 2) as avg_completion_percentage
   3:from `airy-lodge-252816.nfl_stats_modeled.Quarterback_Game_Logs_Beam_DF` a join `airy-lodge-252816.nfl_weather_modeled.spreadspoke_scores` b on a.game_date = b.schedule_date
   4:where a.year = b.schedule_season
   5:and  b.weather_wind_mph > 20.0
   6:group by a.player_id
    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |

In [12]:
%%bigquery
select count(*) from reporting.v_passing_completion_in_wind

   f0_
0  378

--Query 3--
-- This query's expected results would be to get the average rushing yards of each player when the temperature was less than 20 degrees.

In [14]:
%%bigquery
create view reporting.v_average_rushing_yards_in_cold_weather as
select a.player_id, round(avg(a.rushing_yards), 2) as avg_rushing_yards
from `airy-lodge-252816.nfl_stats_modeled.Quarterback_Game_Logs_Beam_DF` a join `airy-lodge-252816.nfl_weather_modeled.spreadspoke_scores` b on a.game_date = b.schedule_date 
where a.year = b.schedule_season
and  b.weather_temperature < 20.0
group by a.player_id

Empty DataFrame
Columns: []
Index: []

In [15]:
%%bigquery
select count(*) from reporting.v_average_rushing_yards_in_cold_weather

   f0_
0  370